body {
    text-align: left;
}

.page-container{
    display: inline-block;
}

pre {outline: 2px solid #000; padding: 8px; margin: 8px; }
	.string { color: darkgreen; }
	.number { color: red; }
	.boolean { color: blue; }
	.null { color: purple; }
	.key { color: darkred; }